*{
    margin: 0;
    padding: 0;
} #minhaForm{
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    width: 300px;
} #submeter {
    width: 120px;
    padding: 3px;
    margin: 20px auto 10px auto;
}